body {
  background-color: #00bfff;
  font-family: 'Press Start 2P', system-ui;
  font-size: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
#reset {
  display: flex;
  align-items: first baseline;
  justify-content: space-evenly;
  /* font-size: 20px; */
  font-weight: bolder;
}

#left-section {
  display: block;
  align-items: center;
}
#right-section {
  /* font-size: 25px; */
  font-weight: bolder;
}
.num,
.but,
#reset-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', system-ui;
  font-size: 15px;
  font-weight: bolder;
}
#reset-btn,
#check-btn {
  width: 150px;
  height: 50px;
}
#user-input {
  font-size: 50px;
  font-weight: bolder;
}
button {
  height: 45px;
  width: 90px;
  color: black;
  text-decoration: double;
  background-color: aliceblue;
}
input {
  background-color: black;
  border: 2px solid white;
  height: 70px;
  width: 140px;
  color: white;
  font-size: 70px;
}
button:hover {
  scale: 1.1;
  background-color: lime;
}
#number1:hover {
  scale: 1.2;
  background-color: #0000ff;
}
.limit {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 10px;
  width: 100 percent;
  background-color: crimson;
  margin-top: 20px;
  margin-bottom: 20px;
}
#error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: tomato;
  margin-top: 15px;
  margin-bottom: 15px;
}
#number1 {
  width: 130px;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 80px;
}
.parent {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#game-over {
  max-width: 100%;
  max-height: auto;
}
#game {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
#playAgain {
  position: absolute;
  font-family: 'Press Start 2P', system-ui;
  padding: 16px;
  background-color: green;
  border-radius: 16px;
  bottom: 10px;
  width: 150px;
  left: 35vw;
  font-size: large;
  font-weight: bold;
}
